<br>
<br>

<h5><%= "Sign in to BeerFlight" %></h5><br>
<% if flash.now[:alert] %>
  <div class="alert alert-danger" role="alert">
    Incorrect username or password.
  </div>
<% end %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">
      <%= form_for :auth do |f| %>
            <%= "Username" %><br>
            <%= f.text_field :username %><br><br>
            <%= "Password" %><br>
            <%= f.password_field :password %><br><br>
            <%= f.submit 'Sign in', :class => 'btn btn-success' %>
      <% end %>
      </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
