<br>
<br>

<h2><%= "Update Your Profile" %></h2>

<br>

<%= flash[:message] %>
<%= form_for @user do |f| %>
    Username: <%=f.text_field :username %><br><br>
    Location: <%=f.text_field :user_location %><br><br>
    Please enter your password to confirm these changes: <br><br>
    Password: <%=f.password_field :password_digest %><br><br>
    <%=f.submit %>
<% end %>

<br><br>

<p><%= "Would you like to delete your profile?" %></p>

<%= button_to "Delete Profile", user_path, :class => "button", :method => :delete %> <br>