<br>
<br>
<h2><%= "Hi #{@user.username}!" %></h2>
<p><%= "Current Location: #{@user.user_location}" %></p><br>

<h4><%= "Your Favorite Beers" %></h4>
<% if @user.likes.count == 0 %>
    <%= "You haven't liked any beers yet. Press the button below to get started!" %><br><br>
<% end %>

<% @user.likes.each do |like| %>
    <%= link_to like.beer.beer_name, beer_path(like.beer.id) %><br>
<% end %><br>

<%= button_to "Take a Look at Our Beers", flavors_path, :class => "button", :method => :get %> <br><br>

<h4><%= "Your Previous Beer Orders" %></h4>

<% if @user.orders.count == 0 %>
    <%= "You haven't placed any orders yet. Press the button below to get started!" %><br><br>
<% else %>
    <% @beers.uniq.each do |beer| %>
        <%= link_to "#{beer.beer_name} from #{beer.brewery}", beer %><br>
    <% end %>
<% end %><br>

<%= button_to "Search for a New Flight", search_page_path, :class => "button", :method => :get %> <br><br><br>

<%#= button_to "Edit Profile", edit_user_path, :class => "button", :method => :get %> <br>
