<br>
<br>

<h2><%= "Your Flight" %></h2>

<%#= @flight_order_id.order_id %>

<% @beers.each do |beer| %>
    <%= "#{beer.beer_name} from #{beer.brewery}" %><br>
<% end %>

<br>

<h4><%= "Are you happy with your flight selection?" %></h4>

<%= button_to "Place an Order", new_order_path, params: {beers: @beers}, method: :get %><br>
<%= button_to "Choose Different Flavors", search_page_path, :class => "button", :method => :get %> <br>