<h2><%= @beer.beer_name %></h2>

<%= image_tag @beer.beer_image %><br><br>

<%= "Style: #{@beer.beer_style}" %><br>
<%= "ABV: #{@beer.abv}%" %><br>
<%= "IBU: #{@beer.ibu}" %><br>
<%= "Description: #{@beer.beer_description}" %><br><br>

<h4><%= "Brewery: #{@beer.brewery}" %><br></h4>
<%= "City: #{@beer.brewery_city}" %><br>
<%= "Region: #{@beer.brewery_region}" %><br>
<%= "Country: #{@beer.country}" %><br><br><br>

<%= button_to "Like this Beer", new_like_path, params: {beer: @beer}, :class => "button", :method => :get %> <br>

