<br>
<br>

<h2><%= "#{@beer.beer_name} from #{@beer.brewery}" %></h2>

<%= image_tag @beer.beer_image %><br><br>

<%= "Style: #{@beer.beer_style}" %><br>
Flavors: <% @beer.flavors.uniq.each do |flavor| %>
    <%= button_to flavor.descriptor, flavor_path(flavor.id), :class => "button", :method => :get %>
<% end %><br>
<%= "ABV: #{@beer.abv}%" %><br>
<%= "IBU: #{@beer.ibu}" %><br>
<%= "Description: #{@beer.beer_description}" %><br><br>

<h4><%= "Brewery: #{@beer.brewery}" %><br></h4>
<%= "City: #{@beer.brewery_city}" %><br>
<%= "Region: #{@beer.brewery_region}" %><br>
<%= "Country: #{@beer.country}" %><br><br><br>

<% if @like_status == true %>
    <%= button_to "Unlike this Beer", like_path, params: {beer: @beer, like: @like}, :class => "button", :method => :delete %> <br>
<% else %>
    <%= button_to "Like this Beer", new_like_path, params: {beer: @beer}, :class => "button", :method => :get %> <br>
<% end %>

<%= button_to "Return to Flavors List", flavors_path, :class => "button", :method => :get %> <br>