<!DOCTYPE html>
<html>
  <head>
    <title>BeerRecommenderProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if logged_in? %>
      <%= button_to "Logout", logout_path, :class => "button", :method => :get %> <br>
        <% else %>
        <%= button_to "Create a New User", new_user_path, :class => "button", :method => :get %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
